* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Whyte-light';
    background-color: #EAE5DF;
    color: #322018;
}

@font-face {
    font-family: 'Whyte-regular'; /* Name you want to use for the font */
    src: url('./fonts/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extralight'; 
    src: url('./fonts/Whyte-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extraLightItalic'; 
    src: url('./fonts/Whyte-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Whyte-italic'; 
    src: url('./fonts/Whyte-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-light';
    src: url('./fonts/Whyte-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('./fonts/Whyte-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Bold'; 
    src:  url('./fonts/WhyteInktrap-Bold\ \(1\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Regular'; /* Name you want to use for the font */
    src:  url('./fonts/WhyteInktrap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaftan-regular'; /* Name you want to use for the font */
    src:  url('./fonts/kaftan-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}




/* ----------------------- Navbar --------------------------- */

nav{
    height: 5rem;
    background-color: #EAE5DF;
    display: flex; 
    align-items: center;
    border-bottom: 1px solid #c5c0bc;
}

.menu{
    width: 1.2%;
    height: 1.2%;
    margin-right: 1rem;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li {
    text-decoration: none;
    padding-right: 1.3rem;
    font-size: 0.9rem;
}

ul p{
    padding-right: 2em;
    padding-left: 1em;
}


ul h4{
    font-size: 1.8rem;
    padding-left: 8.5rem;
    font-family: 'Whyte-Inktrap-Bold';
}

.booking button{
    padding: 0.7rem 1rem;
    border-radius: 1em;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

 .booking{
    padding-right: 2rem;
}

.booking button:active{
    background-color: rgba(255, 255, 255, 0.463);
}


.link{
    text-decoration: none;
    color: inherit; /* Inherits the color from its parent */
}


/* ----------------------- Footer --------------------------- */

 .contact{
    display: flex;
    justify-content: space-between;
    border: 0.8px solid  #c5c0bc;
 }

 .menu-footer{
    padding: 2rem;
    padding-right: 0.3rem;
    padding-bottom: 4rem;
    width: 33.3%;
 }

 .menu-footer p{
    font-family: 'Whyte-thin';
    padding-bottom: 2rem;
 }


 .menu-footer ul{
    list-style-type: none;
    padding-left: 0;
 }

 .menu-footer ul li .links{
    font-family: 'kaftan-regular';
    font-size: 2rem;
    text-decoration: none;
 }


 .hours-footer{
    padding: 2rem 0;
    padding-bottom: 4rem;
    /* padding-left: 10rem; */
    margin-left: 0rem;
    padding-left: 2rem;
    border-left: 0.8px solid  #c5c0bc;
    width: 33.3%;
    display: flex;
    flex-direction: column;
 }

 .hours-footer p{
    padding-bottom: 2.5rem;
    font-family: 'Whyte-thin';
 }

 .hours-footer Link{
    padding-bottom: 2rem;
 }

 .callandbook {
    font-family: 'Whyte-extralight';
 }

 .hours-footer ul {
    list-style-type: none;
    padding-left: 0;
 }

 .hours-footer ul li{
    padding-bottom: 2rem;
    font-family: 'Whyte-extralight';
 }

 .hours-footer ul p{
    font-family: Whyte-light;
    padding-left: 0;
 }


 .contact-footer{
    padding: 2rem 0;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0;
    border-left: 0.8px solid #c5c0bc;
    width: 33.3%
 }

 .contact-footer .spa{
    padding-bottom: 2rem;
    font-family: 'Whyte-thin';
 }

 .contact-footer p{
    font-family: "Whyte-extralight";
 }


 .second-footer{
    display: flex;
    border: 0.8px solid  #c5c0bc;
    justify-content: space-between;
 }

 .reviews{
    display: flex;
    width: 33.3%;
    padding: 2rem 0;
}

 .review-stars{
    padding-left: 2rem;
 }

 .reviews img{
    width: 1rem;
 }

 .reviews p .link{
    padding-left: 1rem;
    margin: 0;
    font-family: Whyte-thin ;
 }



 .socials{
    display: flex;
    align-items: center;
    width: 33.3%;
    border-left:  0.8px solid  #c5c0bc;
 }

 .socials ul{
    display: flex;
    list-style-type: none;
    padding-left: 2rem;
 }

 .socials ul li .social-link{
    padding-right: 2rem;
    font-family: 'Whyte-thin';
    text-decoration: none;
 }



 .copyright{
    width: 33.3%;
    padding: 2rem 0;
    border-left: 0.8px solid  #c5c0bc;
 }

 .copyright p{
    padding-left: 2rem;
    font-family: "Whyte-thin";
 }

 .copyright p img{
    width: 3.5%;
    padding-right: 0.3rem;
 }