@font-face {
    font-family: 'Whyte-regular'; /* Name you want to use for the font */
    src: url('../fonts/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extralight'; 
    src: url('../fonts/Whyte-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extraLightItalic'; 
    src: url('../fonts/Whyte-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Whyte-italic'; 
    src: url('../fonts/Whyte-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-light';
    src: url('../fonts/Whyte-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('../fonts/Whyte-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Bold'; 
    src:  url('../fonts/WhyteInktrap-Bold\ \(1\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Regular'; /* Name you want to use for the font */
    src:  url('../fonts/WhyteInktrap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaftan-regular'; /* Name you want to use for the font */
    src:  url('../fonts/kaftan-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* ----------------------- Main Content --------------------------- */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}

.home-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
 }


 .video-banner {
  position: relative; /* Make it relative for absolute positioning of the video */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow to ensure nothing goes outside the container */
}
 
 .banner-video{
    position: absolute;
   top: 50%;
   left: 50%;
   max-width: 100%;
   min-height: 100%;
   transform: translate(-50%, -50%);
   z-index: 1; /* Ensure video stays behind the text */
   object-fit: cover; /* Ensures video covers the entire background */
 }

 .bannerV{
    width: 100%;
    height: 100%;
 }
 
 .banner-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensures text stays above the video */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
 
  .banner-text img{
    width: 3.5rem;
    padding-bottom: 2rem;
  }
 
  .banner-text p{
    font-family: "Whyte-extralight";
    color: #EAE5DF;
    font-weight: 600;
    padding-bottom: 2rem;
  }
 
  .banner-text h3{
    font-size: 5rem;
    font-family: kaftan-regular;
    color: #EAE5DF;
    font-weight: 300;
    padding-bottom: 2rem;
    text-align: center;
  }
 
  .vertical-line{
    width: 0.02rem;
    background-color: #EAE5DF;
    height: 6rem;
    z-index: 2;
    margin-bottom: 2rem;
  }
 
  .home-banner .specials-button{
    font-family: 'Whyte-light';
    padding: 1rem 0.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #903C02;
    color: white;
    display: flex;
    cursor: pointer;
  }

  .link{
    text-decoration: none;
  }

  .see-more{
    text-decoration: none;
  }

  .massages-link{
    text-decoration: none;
  }
 
 
  .specials-button img{
    width: 1.5rem;
    padding: 0 0.2rem;
  }


/* ---------------- Spa content ---------------*/

  .spa-content{
    background-color: #EAE5DF;
    width: 100vw;
    position: relative;
  }

  .spa-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #322018;
    padding-bottom: 15rem;
    padding-top: 15rem;
  }

  .spa-info img{
    width: 2.5rem;
  }

  .spa-info h3{
    font-family: 'kaftan-regular', serif;
    font-size: 3rem;
    color: #322018;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
  }

  .spa-info p{
    width: 30%;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    line-height: 1.4rem;
  }

  .spa-info button{
    font-family: 'Whyte-light';
    padding: 1rem 0.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #903C02;
    color: white;
    display: flex;
    cursor: pointer;
  }

 .spa-button{
    padding: 0;
    margin: 0;   
  }

  .spa-button img{
    width: 1.5rem;
    padding: 0 0.2rem;
  }


  .amaranth-image-container{
    overflow: hidden;
    min-width: 5rem;
    min-height: 5rem;
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 15%;
    left: 15%;
  }

  .amaranthSpa{
    width: 100%;
    height: 100%;
  }

  .candles-image-container{
    width: 12rem;
    position: absolute;
    display: flex;
    top: 12%;
    right: 17%;
  }

  .candles-spa{
    width: 100%;
    height: 100%;
  }

  .stones-image-container{
    width: 20rem;
    position: absolute;
    bottom: 25%;
    left: 7%;
    height: 7rem;
    overflow: hidden;
  }

  .massage2{
    width: 100%;
    height: 100%;
  }

  .relax-image-container{
    width: 19rem;
    position: absolute;
    height: 26rem;
    overflow: hidden;
    bottom: 10%;
    right: 6%;
  }

  .massage3{
    width: 100%;
    height: 100%
  }
  

  /* ----------------------- Packages section --------------------------- */


.flower-line{
    background-color: #EAE5DF;
}


/* ------------ Package Section  ------------ */
.p-div{
  background-color: #EAE5DF;
}

.p-div h2{
  font-size: 2.25rem;
  font-family: 'kaftan-regular';
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  color: #322018;
}

.p-container {
  position: relative; 
  width: 100vw;
  margin:0;
  background-color: #EAE5DF;
  height: 90vh;
  padding-bottom: 5rem;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100%;
  box-shadow: 0 1.87rem 3.12rem #dbdbdb;
}

.container .slide .item{
  width: 15%;
  height: 45%;
  position: absolute;
  top: 70%;
  transform: translate(0, -50%);
  border-radius: 1.25rem;
  box-shadow: 0.05rem 0.05rem 4px #dbdbdbaa;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100vw;
    height: 100%;
}

.slide .item:nth-child(2){
    left: 65%;
}

.slide .item:nth-child(n + 3){
    left: calc(65% + 260px);
    /* opacity: 0; */
}

.item .content{
  position: absolute;
  top: 30%;
  left: 12rem;
  width: 100%;
  text-align: left;
  color: #eee;
  transform: translate(0 , -50%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: none;
}

.slide .item:nth-child(1) .content{
  display: block;
}


.content .name{
  font-size: 4rem;
  font-family: 'kaftan-regular';
  font-weight: bold;
  color: #EAE5DF;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
  margin-top: 0.62rem;
  margin-bottom: 1.25rem;
  color: #EAE5DF;
  font-size: 1.1rem;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
  padding: 0.62rem 1.25rem;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content button:hover{
  background-color:  #903C02;
  color: white;
}

@keyframes animate{
  from{
   opacity: 0;
   transform: translate(0, 6.25rem);
   filter: blur(2.06rem);
  }

  to{
   opacity: 1;
   transform: translate(0);
   filter: blur(0);
  }
}

.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1.25rem;
}

.button button{
 padding: 0.5rem 2rem;
 border-radius: 0.5rem;
 border: none;
 cursor: pointer;
 margin: 0 0.31rem;
 /* border: 1px solid #000; */
 transition: 0.3s;
 background-color: #f0f0f0;
 color: iherit;
 font-size: 1.1rem;
}

.button button {
  color: inherit; /* Ensure the button text and icon inherit the same color */
}


.button button:hover {
  background-color: #424242;
  color: #fff; 
  cursor: pointer;
}


.button button:hover i {
  color: #fff; 
}


/* --------------------- Horizontal line -------------------------*/
.flower-line{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  justify-content:space-between;
  align-items: center;
}

.horizontal-line1{
  width: 47%;
  height: 0.03rem;
  background-color: #3d3d3d;
}

.horizontal-line2{
  width: 47%;
  height: 0.03rem;
  background-color:  #3d3d3d;
}

.flower-line img{
  width: 3%;
  height: 3%;
}


/* --------------------- Booking form --------------------------*/
.booking-section{
  background-color: #EAE5DF;
  width: 100%;
}

.booking-section h1{
  font-family: 'kaftan-regular', serif;
  font-size: 3rem;
  color: #322018;
  display: flex;
  padding-left: 6.6rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.form{
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.form form{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  background-color: #d4d4d4;
  padding: 2rem 2rem;
  background-color: #bfbebe8a; 
  backdrop-filter: blur(8px); /* Adds blur effect for a frosted look */
}

form label{
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
}

form input{
  padding: 0.5rem;
  border: none;
}

form select{
  border: none;
  padding: 0.5rem;
}

form .submit{
  padding-top: 2rem;
}

form .submit input{
  cursor: pointer;
  background-color: #903C02;
  color: #EAE5DF;
  padding: 0.6rem 2rem;
}

input:focus{
  outline: none; /* removes blue outline*/
}

select:focus{
  outline: none; /* removes blue outline*/
}




/* ---------  Media Query -------------*/

@media (min-width: 320px) and (max-width: 470px) {
  .slide .item:nth-child(2){
    /* top: 40%; */
    left: 63%;
    width: 18%;
    max-width: 16%;
    height: 35%;
    max-height: 35%;
}

  .slide .item:nth-child(n + 3){
    left: calc(63% + 50px);
    width: 18%;
    max-width: 16%;
    height: 35%;
    max-height: 35%;
    /* top: 40%; */
  }
}





/* phones */
@media (min-width: 0px) and (max-width: 600px) {

  .banner-text img{
    width: 2.5rem;
    padding-bottom: 2rem;
  }

  .banner-text p{
    padding-bottom: 2rem;
    font-size: 0.9rem;
  }

  .banner-text h3{
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }

  .vertical-line{
    height: 3.5rem;
    margin-bottom: 1rem;
  }

  .home-banner .specials-button{
    padding: 0.7rem 0.5rem;
  }

  .specials-button img{
    width: 1.3rem;
    padding: 0 0.2rem;
  }

  .specials-button{
    font-size: 0.8rem;
  }
 


  .firstHalf{
    display: none;
  }

  .secondHalf{
    display: none;
  }


  .spa-info{
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .spa-info img{
    width: 2.3rem;
  }

  .spa-info h3{
    font-size: 1.4rem;
    min-width: 30%;
    width: 40%;
    padding-top: 2rem;
  }

  .spa-info p{
    width: 70%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 1.4rem;
  }

  .spa-info button{
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
  }

  .spa-button img{
    width: 1.2rem;
    padding: 0 0.2rem;
  }


  .p-div h2{
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .p-container {
    padding-bottom: 0.5rem;
  }

  .slide .item:nth-child(1){
    width: 100vw;
    height: 100%;
}


  .slide .item:nth-child(2){
    /* top: 40%; */
    left: 63%;
    min-width: 15%;
    max-width: 16%;
    height: 35%;
    max-height: 35%;
}

  .slide .item:nth-child(n + 3){
    left: calc(63% + 100px);
    min-width: 15%;
    max-width: 16%;
    height: 35%;
    max-height: 35%;
    /* top: 40%; */
  }

  .item .content{
    top: 30%;
    left: 5%;
  }

  .content .name{
    font-size: 1.5rem;
  }

  .content .des{
    margin-top: 0.62rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }

  .content button{
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }

  .button button{
    padding: 0.2rem 1rem;
    margin: 0 0.31rem; 
    font-size: 0.5rem;
  }


  .p-container {
    height: 50vh;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .booking-section h1{
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
  }



  form label{
    padding-bottom: 0.5rem;
    padding-top: 1.1rem;
    font-size: 0.8rem;
  }


  form input{
    padding: 0.2rem;
    border: none;
  }

  #mySelect{
    font-size: 0.8rem;
  }

  #start-date{
    font-size:  0.8rem;
  }

  .form{
    padding-bottom: 4rem;
  }

  .form form{
    padding: 1.5rem 1.5rem;
  }

  .form{
    width: 75%;
  }


  form .submit{
    padding-top: 1.5rem;
  }

  form .submit input{
    padding: 0.3rem 1rem;
  }

  .submit input[type="submit"] {
    font-size: 0.8rem;
  }



}



/* Tablets */
@media (min-width: 601px) and (max-width: 768px) {
  .banner-text img{
    width: 8%;
    padding-bottom: 2rem;
  }

  .banner-text p{
    padding-bottom: 2rem;
    font-size: 1rem;
  }

  .banner-text h3{
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }

  .vertical-line{
    height: 4.8rem;
    margin-bottom: 1rem;
  }

  .home-banner .specials-button{
    padding: 1rem 0.8rem;
  }

  .specials-button img{
    width: 1.4rem;
    padding: 0 0.2rem;
  }

  .specials-button{
    font-size: 0.9rem;
  }

  .spa-info{
    padding-bottom: 8rem;
    padding-top: 8rem;
  }

  .spa-info img{
    width: 2.5rem;
  }

  .spa-info h3{
    font-size: 1.8rem;
    min-width: 30%;
    width: 40%;
    padding-top: 2.3rem;
  }

  .spa-info p{
    width: 38%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 1.4rem;
    font-size: 1rem;
  }

  .spa-info button{
    padding: 0.8rem 0.5rem;
    font-size: 0.9rem;
  }

  .spa-button img{
    width: 1.3rem;
    padding: 0 0.2rem;
  }

  .content .name{
    font-size: 2rem;
  }
  
  .content .des{
    margin-top: 0.62rem;
    margin-bottom: 1.25rem;
    font-size: 1.2rem;
  }
  
  .content button{
    padding: 0.5rem 1rem;
  }

  .amaranth-image-container{
    width: 20%;
    height: 13%;
    left: 10%;
    top: 15%;
  }

  .candles-image-container{
    width: 23%;
    height: 23%;
    right: 8%;
    top: 10%;
  }

  .stones-image-container{
    width: 23%;
    height: 12%;
    left: 3%;
    bottom: 30%;
  }

  .relax-image-container{
    width: 22%;
    height: 25%;
    right: 4%;
    bottom: 22%;
  }


  .p-div h2{
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .p-container {
    padding-bottom: 0;
  }


  .slide .item:nth-child(1){
    width: 100vw;
    height: 100%;
}

  .slide .item:nth-child(2){
    /* top: 40%; */
    left: 55%;
    width: 18%;
    max-width: 30%;
    height: 30%;
  }

  .slide .item:nth-child(n + 3){
    left: calc(65% + 90px);
    width: 18%;
    max-width: 30%;
    height: 30%;
    /* top: 40%; */
  }

  .item .content{
    top: 25%;
    left: 5%;
  }

  .content .name{
    font-size: 2rem;
  }

  .content .des{
    margin-top: 0.62rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }

  .content button{
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
  }

  .button button{
    padding: 0.3rem 1.3rem;
    margin: 0 0.31rem; 
    font-size: 0.5rem;
  }
 
}

@media (min-width: 769px) and (max-width:1160px) {
  .banner-text img{
    width: 8%;
    padding-bottom: 3rem;
  }

  .banner-text p{
    padding-bottom: 2rem;
    font-size: 1.2rem;
  }

  .banner-text h3{
    font-size: 4rem;
    padding-bottom: 1.5rem;
  }

  .vertical-line{
    height: 5rem;
    margin-bottom: 1rem;
  }

  .home-banner .specials-button{
    padding: 1rem 0.8rem;
  }

  .specials-button img{
    width: 1.4rem;
    padding: 0 0.2rem;
  }

  .specials-button{
    font-size: 0.9rem;
  }

  .spa-info{
    padding-bottom: 8rem;
    padding-top: 8rem;
  }

  .spa-info img{
    width: 2.9rem;
  }

  .spa-info h3{
    font-size: 2rem;
    min-width: 30%;
    width: 40%;
    padding-top: 2.3rem;
  }

  .spa-info p{
    width: 38%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 1.4rem;
    font-size: 1rem;
  }

  .spa-info button{
    padding: 0.8rem 0.5rem;
    font-size: 0.9rem;
  }

  .spa-button img{
    width: 1.3rem;
    padding: 0 0.2rem;
  }




  .amaranth-image-container{
    width: 22%;
    height: 18%;
    left: 10%;
    top: 15%;
  }

  .candles-image-container{
    width: 23%;
    height: 23%;
    right: 8%;
    top: 10%;
  }

  .stones-image-container{
    width: 23%;
    height: 12%;
    left: 3%;
    bottom: 30%;
  }

  .relax-image-container{
    width: 20%;
    height: 35%;
    right: 4%;
    bottom: 18%;
  }


  .p-div h2{
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .content .name{
    font-size: 2.5rem;
  }
  
  .content .des{
    margin-top: 0.62rem;
    margin-bottom: 1.25rem;
    font-size: 1.2rem;
  }
  
  .content button{
    padding: 0.5rem 1rem;
  }

  .item .content{
    top: 25%;
    left: 5%;
  }

  .button button{
    padding: 0.3rem 1.3rem;
    margin: 0 0.31rem; 
    font-size: 0.5rem;
  }


  .slide .item:nth-child(2){
    left: 60%;
    width: 10rem;
    max-width: 20%;
    height: 35%;
  }

  .slide .item:nth-child(n + 3){
    left: calc(70% + 100px);
    width: 10rem;
    max-width: 20%;
    height: 35%;
    /* top: 40%; */
  }

  .booking-section h1{
    padding-left: 2rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 2.9rem;
  }


}



/* Laptops and above
@media (min-width: 769px) {
  .banner-text h3{
    font-size: 3.5rem;
  }

  .banner-text p{
    font-size: 0.9rem;
  }


  .banner-text img{
    width: 3rem;
  }

  .vertical-line{
    height: 4rem;
    margin-bottom: 1rem;
  }

  .home-banner .specials-button{
    padding: 0.7rem 0.5rem;
  }

  .specials-button img{
    width: 1.3rem;
    padding: 0 0.2rem;
  }

  .item .content{
    top: 30%;
    left: 12rem;
  }

  .p-div h2{
    font-size: 1.9rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .p-container {
    padding-bottom: 1rem;
  }


  .slide .item:nth-child(2){
    left: 60%;
    width: 20%;
    height: 40%;
}

.slide .item:nth-child(n + 3){
    left: calc(65% + 145px);
    width: 20%;
    height: 40%;
    /* opacity: 0; 
}

.item .content{
  top: 30%;
  left: 5%;
}


.content .name{
  font-size: 3rem;
}

.content .des{
  margin-top: 0.62rem;
  margin-bottom: 1.25rem;
  font-size: 1.1rem;
}

.content button{
  padding: 0.62rem 1.25rem;

}


  /* .flower-line{
    padding-top: 4rem;
  } 

  

  .amaranth-image-container{
    min-width: 5rem;
    min-height: 5rem;
    width: 14rem;
    height: 14rem;
  }

  .candles-image-container{
    width: 12rem;
  }

  .stones-image-container{
    width: 15rem;
    height: 7rem;
  }


  .relax-image-container{
    width: 19rem;
    height: 24rem;
  }


  .amaranth-image-container{
    min-width: 5rem;
    min-height: 5rem;
    width: 12rem;
    height: 12rem;
    left: 18%;
    top: 15%;
  }

  .candles-image-container{
    width: 12rem;
    right: 14%;
    top: 13%;
  }

  .stones-image-container{
    width: 18rem;
    height: 7rem;
    left: 5%;
    bottom: 22%;
  }


  .relax-image-container{
    width: 15rem;
    height: 18rem;
    right: 8%;
    bottom: 12%;
  }


  .spa-info{
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  .spa-info img{
    width: 2.3rem;
  }

  .spa-info h3{
    font-size: 2.5rem;
    width: 18%;
    padding-top: 3rem;
    font-size: 2rem;
  }

  .spa-info p{
    width: 25%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 1.4rem;
  }

  .spa-info button{
    padding: 1rem 0.8rem;
  }

 .spa-button{
    padding: 0;
    margin: 0;   
  }

  .spa-button img{
    width: 1.5rem;
    padding: 0 0.2rem;
  }
} */







