@font-face {
    font-family: 'Whyte-regular'; /* Name you want to use for the font */
    src: url('../fonts/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extralight'; 
    src: url('../fonts/Whyte-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extraLightItalic'; 
    src: url('../fonts/Whyte-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Whyte-italic'; 
    src: url('../fonts/Whyte-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-light';
    src: url('../fonts/Whyte-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('../fonts/Whyte-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Bold'; 
    src:  url('../fonts/WhyteInktrap-Bold\ \(1\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Regular'; /* Name you want to use for the font */
    src:  url('../fonts/WhyteInktrap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaftan-regular'; /* Name you want to use for the font */
    src:  url('../fonts/kaftan-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* ----------------------- Main Content --------------------------- */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}

.home-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
 }
 
 .banner-video{
    position: absolute;
   top: 50%;
   left: 50%;
   max-width: 100%;
   min-height: 100%;
   transform: translate(-50%, -50%);
   z-index: 1; /* Ensure video stays behind the text */
   object-fit: cover; /* Ensures video covers the entire background */
 }

 .bannerV{
    width: 100%;
    height: 100%;
 }
 
 .banner-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensures text stays above the video */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
 
  .banner-text img{
    width: 3.5rem;
    padding-bottom: 2rem;
  }
 
  .banner-text p{
    font-family: "Whyte-extralight";
    color: #EAE5DF;
    font-weight: 600;
    padding-bottom: 2rem;
  }
 
  .banner-text h3{
    font-size: 5rem;
    font-family: kaftan-regular;
    color: #EAE5DF;
    font-weight: 300;
    padding-bottom: 2rem;
  }
 
  .vertical-line{
    width: 0.02rem;
    background-color: #EAE5DF;
    height: 6rem;
    z-index: 2;
    margin-bottom: 2rem;
  }
 
  .home-banner .specials-button{
    font-family: 'Whyte-light';
    padding: 1rem 0.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #903C02;
    color: white;
    display: flex;
  }
 
 
  .specials-button img{
    width: 1.5rem;
    padding: 0 0.2rem;
  }



  .spa-content{
    background-color: #EAE5DF;
  }

  .spa-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #322018;
    padding-bottom: 15rem;
    padding-top: 15rem;
  }

  .spa-info img{
    width: 2.5rem;
  }

  .spa-info h3{
    font-family: 'kaftan-regular', serif;
    font-size: 3rem;
    color: #322018;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
  }

  .spa-info p{
    width: 30%;
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    line-height: 1.4rem;
  }

  .spa-info button{
    font-family: 'Whyte-light';
    padding: 1rem 0.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #903C02;
    color: white;
    display: flex;
    cursor: pointer;
  }

 .spa-button{
    padding: 0;
    margin: 0;   
  }

  .spa-button img{
    width: 1.5rem;
    padding: 0 0.2rem;
  }


  .amaranthSpa{
    width: 15rem;
    position: absolute;
    margin-top: 10rem;
    margin-left: 13rem;
  }

  .candles-spa{
    width: 12rem;
    position: absolute;
    margin-top: 38rem;
    margin-left: 68rem;
  }

  .massage2{
    width: 20rem;
    position: absolute;
    margin-top: 35rem;
    margin-left: 5rem;
    height: 7rem;
  }

  .massage3{
    width: 19rem;
    position: absolute;
    margin-top: 5rem;
    margin-left: 64rem;
    height: 26rem;
  }


  /* ----------------------- Packages section --------------------------- */

.Packages-section{
    background-color:  #EAE5DF;
}

  .package-slider{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    color: #EAE5DF;
  }

  .couplesImage{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure video stays behind the text */
    /* object-fit: cover; Ensures video covers the entire background */
    box-shadow:inset 0 0 0 2000px rgba(7, 7, 7, 0.8);
  }

  .KoreanImage{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure video stays behind the text */
    /* object-fit: cover; Ensures video covers the entire background */
    box-shadow:inset 0 0 0 2000px rgba(7, 7, 7, 0.8);
  }

  .detoxImage{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure video stays behind the text */
    /* object-fit: cover; Ensures video covers the entire background */
    box-shadow:inset 0 0 0 2000px rgba(7, 7, 7, 0.8);
    background-repeat: no-repeat;
  }

  .image-section{
    position: relative;
    max-width: 100%;
    min-height: 100%;
  }


  .packages{
    position: absolute;
    top: 40%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensures text stays above the video */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .gsap-couple{
    left: 50%;
  }

  .Packages-section h2{
    font-family: kaftan-regular;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    color: #322018;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 3; /* This makes sure the content appears above the video */
}


.packages p{
    font-family: Whyte-extralight;
    font-size: 1.5rem;
    color: #EAE5DF;
    padding-bottom: 3rem;
}

.packages h3{
    color: #EAE5DF;
    font-family: kaftan-regular;
    font-size: 4rem;
}

.package-extra-image{
    width: 15rem;
    height: 20rem;
    background-color: rgb(195, 182, 166);
    position: relative;
    transform: translate(0, -50%);
    margin: 0 auto;
    z-index: 2; /* Ensures text stays above the video */
}

.package-extra-image img{
  width: 15rem;
  height: 20rem;
}

.flower-line{
    background-color: #EAE5DF;
}


/* ----------------------- mf-Cursor --------------------------- */

.mf-cursor {
  background-color: rgba(0, 0, 0, 0.7); 
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: background-color 0.2s ease; /* Smooth transition */
  transform: translate(-50%, -50%);
}

.mf-cursor-text{
  background-color: rgba(255, 255, 255, 0.9); /* Change background if needed */
  /* You can add more styling for the expanded state here */
}


/* ------------ Package Test ------------ */
.p-div{
  background-color: #EAE5DF;
}

.p-div h2{
  font-size: 2.25rem;
  font-family: 'kaftan-regular';
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  color: #322018;
}

.p-container {
  position: relative; 
  width: 100%;
  margin:0;
  background-color: #EAE5DF;
  height: 90vh;
  padding-bottom: 5rem;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 1.87rem 3.12rem #dbdbdb;
}

.container .slide .item{
  width: 12.5rem;
  height: 18.75rem;
  position: absolute;
  top: 70%;
  transform: translate(0, -50%);
  border-radius: 1.25rem;
  box-shadow: 0.05rem 0.05rem 4px #dbdbdbaa;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(2){
    left: 65%;
}

.slide .item:nth-child(n + 3){
    left: calc(65% + 260px);
    /* opacity: 0; */
}

.item .content{
  position: absolute;
  top: 30%;
  left: 12rem;
  width: 100%;
  text-align: left;
  color: #eee;
  transform: translate(0 , -50%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: none;
}

.slide .item:nth-child(1) .content{
  display: block;
}


.content .name{
  font-size: 4rem;
  font-family: 'kaftan-regular';
  font-weight: bold;
  color: #EAE5DF;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
  margin-top: 0.62rem;
  margin-bottom: 1.25rem;
  color: #EAE5DF;
  font-size: 1.1rem;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
  padding: 0.62rem 1.25rem;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate{
  from{
   opacity: 0;
   transform: translate(0, 6.25rem);
   filter: blur(2.06rem);
  }

  to{
   opacity: 1;
   transform: translate(0);
   filter: blur(0);
  }
}

.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1.25rem;
}

.button button{
 padding: 0.5rem 2rem;
 border-radius: 0.5rem;
 border: none;
 cursor: pointer;
 margin: 0 0.31rem;
 /* border: 1px solid #000; */
 transition: 0.3s;
 background-color: #f0f0f0;
 color: iherit;
 font-size: 1.1rem;
}

.button button {
  color: inherit; /* Ensure the button text and icon inherit the same color */
}


.button button:hover {
  background-color: #424242;
  color: #fff; 
  cursor: pointer;
}


.button button:hover i {
  color: #fff; 
}


/* --------------------- Horizontal line -------------------------*/
.flower-line{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  justify-content:space-between;
  align-items: center;
}

.horizontal-line1{
  width: 47%;
  height: 0.03rem;
  background-color: #3d3d3d;
}

.horizontal-line2{
  width: 47%;
  height: 0.03rem;
  background-color:  #3d3d3d;
}

.flower-line img{
  width: 3%;
  height: 3%;
}


/* --------------------- Booking form --------------------------*/
.booking-section{
  background-color: #EAE5DF;
  width: 100%;
}

 h1{
  font-family: 'kaftan-regular', serif;
  font-size: 3rem;
  color: #322018;
  display: flex;
  padding-left: 8rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.form{
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.form form{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  background-color: #d4d4d4;
 
  padding: 2rem 2rem;
  background-color: #bfbebe8a; 
  backdrop-filter: blur(8px); /* Adds blur effect for a frosted look */
}

form label{
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
}

form input{
  padding: 0.5rem;
  border: none;
}

form select{
  border: none;
  padding: 0.5rem;
}

form .submit{
  padding-top: 2rem;
}

form .submit input{
  cursor: pointer;
  background-color: #903C02;
  color: #EAE5DF;
  padding: 0.6rem 2rem;
}

input:focus{
  outline: none; /* removes blue outline*/
}

select:focus{
  outline: none; /* removes blue outline*/
}



.mf-cursor {
  z-index: 9999 !important;  /* Ensures it's on top of other elements */
}









