*{
  scroll-behavior: smooth;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.main{
    flex:1;
}



/* ----------------------- mf-Cursor --------------------------- */

.mf-cursor {
    background-color: rgba(0, 0, 0, 0.7); 
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transition: background-color 0.2s ease; /* Smooth transition */
    transform: translate(-50%, -50%);
  }
  
  .mf-cursor-text{
    background-color: rgba(255, 255, 255, 0.9); 
    transition: background-color 0.2s ease;
  }

  /* .mf-cursor {
  z-index: 9999 !important;  /* Ensures it's on top of other elements 
} */