

@font-face {
    font-family: 'Whyte-regular'; /* Name you want to use for the font */
    src: url('../fonts/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('../fonts/Whyte-Thin\ \(1\).ttf') format('truetype');
    
}

@font-face {
    font-family: 'Whyte-extraLightItalic'; 
    src: url('../fonts/Whyte-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Whyte-italic'; 
    src: url('../fonts/Whyte-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-light';
    src: url('../fonts/Whyte-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('../fonts/Whyte-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Bold'; 
    src:  url('../fonts/WhyteInktrap-Bold\ \(1\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Regular'; /* Name you want to use for the font */
    src:  url('../fonts/WhyteInktrap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaftan-regular'; /* Name you want to use for the font */
    src:  url('../fonts/kaftan-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* ----------------------- Main Content --------------------------- */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
  }

  .massage-banner{
    width: 100vw;
    height: 100vh;
    padding-bottom: 5rem;
    z-index: 1;
    object-fit: cover;
    overflow: hidden;
    /* box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.9); */
  }

  .massageImage{
    width: 100%;
    height: 100%;
    box-shadow:inset 0 4px 20px 2000px rgba(0, 0, 0, 0.9);
  }

  .massageText{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 2; /* Ensures text stays above the video */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

 .massageText img{
    width: 3.5rem;
    padding-bottom: 2rem;
 }

 .massageText p{
    font-family: "Whyte-extralight";
    color: #EAE5DF;
    font-weight: 600;
    padding-bottom: 2rem;
 }

 .massageText h3{
    font-size: 5rem;
    font-family: kaftan-regular;
    color: #EAE5DF;
    font-weight: 300;
    padding-bottom: 2rem;
  }

  .massage-therapist{
    width: 15rem;
    height: 20rem;
    position: absolute;
    bottom: -18%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; /* Ensure it appears above the video */
  }


  /* --------- History Section -------------- */

  .image-section{
    display: flex;
    justify-content: space-between;
  }

  .history-section{
    background-color: #EAE5DF;
    padding-top: 20rem;
    width: 100%;
  }

  .historyText h2{
    font-family: 'kaftan-regular';
    font-size: 3rem;
    color: #322018;
    width: 40%;
    padding-left: 6rem;
  }

  .historyText .HT{
    /*  font-family: 'Whyte-light';*/
    color: #322018;
    width: 45%;
    padding-right: 7rem;
    line-height: 10rem;
  }

 .historyText{
    display: flex;
    justify-content: center;
    justify-content:space-between;
  }

 .historyText p{
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-family: 'Whyte-thin';
  }

  .HT p{
    padding-bottom: 1rem;
  }

 .historyText{
  padding-bottom: 8rem;
  }
 

  /* ----------- Images -------------- */

  .image-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 75vh;
    width: 100vw;
    background-color: #EAE5DF;
    overflow: hidden;
  }

.image1{
  width: 30vw;
  height: 100%;
  position: relative;
}

.background-image1{
  background-image: url('../images/therapist2.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-repeat: no-repeat;
  z-index: 1;
}


.image2{
  width: 30vw;
  height: 100%;
  position: relative;
  /* padding-right: 3rem; */
}

.background-image2{
  background-image: url('../images/therapist3.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.image3{
  width: 30vw;
  height: 100%;
  position: relative;
  /* padding-right: 3rem; */
}

.background-image3{
  background-image: url('../images/therapist4.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}


/* ------------- organic well-being ---------------- */

.organic-wellbeing{
  background-color: #EAE5DF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}

.organic-wellbeing img{
  width: 100%;
  height: 100%;

}

.e-oil{
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
  padding-top: 2rem;
}

.organic-wellbeing .flower{
  width: 3.5rem;
}

.organic-wellbeing h2{
  font-family: 'kaftan-regular';
  font-size: 3rem;
  padding-bottom: 3rem;
  color: #322018;
}

.organic-wellbeing p{
  width: 60%;
  text-align: center;
  padding-bottom: 5rem;
  line-height: 1.2rem;
  color: #322018;
}

.organic-wellbeing ul li{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
}



/* -------------- Massage cost section ------------------*/

.massage-cost{
  background-color: #EAE5DF;
}

.facial-treatments-section{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.facial-treatments-section{
  display: flex;
  justify-content: space-between;
}

.subsectionOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.subsectionOne h2{
  font-family: 'kaftan-regular';
  font-size: 3rem;
  color: #322018;
  padding-bottom: 2rem;
}

.subsectionTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.subsectionTwo h2{
  font-family: 'kaftan-regular';
  font-size: 3rem;
  color: #322018;
  padding-bottom: 2rem;
}

.subsectionOne .item{
  padding-bottom: 4rem;
}

.subsectionTwo .item{
  padding-bottom: 4rem;
}

.massage-subsection{
  width: 75%;
}

.inline button{
  border: none;
  background-color: #EAE5DF;
  cursor: pointer;
  width: 15px;
  padding: 0; 
  border: none; 
  background: none; 
  margin: 0;
  padding-top: 1.6rem;
}

.inline{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline h3{
  padding-top: 2rem;
  margin: 0;
  font-family: 'Whyte-light';
  font-weight: 300;
  padding-bottom: 1rem;
}


.plus-icon {
  padding: 0; 
  margin: 0; 
}

.lines{
  padding: 0; 
  margin: 0; 
}


.inline button{
  padding-bottom: 0.8rem;
}


.inline h3{
  font-family: 'Whyte-regular';
  font-size: 1.25rem;
}

.massage-subsection p{
  font-family: 'Whyte-light';
  font-size: 1.1rem;
  font-weight: 100;
}

.m-details{
  width: 95%;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.massage-second{
  padding-bottom: 3rem;
}

.massage-p{
  padding-bottom: 1rem;
}

.details-p{
  padding-bottom: 3rem;
}

.m-details h4{
  font-weight: 600;
}

.reservation-section{
  background-color: #EAE5DF;
}

.reservation {
  width: 25%;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.res {
  display: flex; 
  justify-content: space-between;
  width: 100%; 
}

.reservationLink{
  width: 10rem; 
  justify-content: space-between;
  padding: 1rem 0.6rem;
  border-radius: 20px;
  background-color: #903C02;
  color: white;
  border: none;
  cursor: pointer;
}


.plus {
  position: relative;
  width: 1rem; 
  height: 1rem;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 0.8rem;
  overflow: hidden;
}

.H-line, .V-line {
  position: absolute;
  background-color: black;
}

.H-line {
  width: 1rem;
  height: 0.1rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%); /* Center horizontally */
}

.V-line {
  width: 0.1rem;
  height: 1rem;
  top: 0;
  left: 50%;
  /* transform: translateX(-50%); Center vertically */
}








/*----------------- Media Query ----------------------*/

@media (min-width: 0px) and (max-width: 450px) {

  .massageText{
    top: 40%;
    left: 50%;
  }

  .massage-banner{
    width: 100vw;
    height: 70vh;
    padding-bottom: 5rem;
  }

  /* .massage-banner-image{
    width: 100vw;
    height: 100vh;
  } */

  .massageImage{
    width: 100vw;
    height: 70vh;
  }

  .massageText img{
    width: 2.5rem;
    padding-bottom: 2rem;
 }

 .massageText p{
    padding-bottom: 2rem;
    font-size: 0.9rem;
 }

 .massageText h3{
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  .massage-therapist{
    width: 8rem;
    height: 12rem;
    bottom: 15%; 
    left: 50%; 
  }

  /* --------- History Section -------------- */

  .history-section{
    padding-top: 12rem;
    width: 100%;
  }

  .historyText h2{
    font-size: 1.2rem;
    width: 90%;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .historyText .HT{
    width: 90%;
    padding:0 0.3rem;
    line-height: 3rem;
    text-align: center;
  }

  .historyText p{
    line-height: 0.9rem;
    font-size: 0.8rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .HT p{
    padding-bottom: 1rem;
  }
  
   .historyText{
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


   /* ----------- Images -------------- */
  .image-section{
    height: 30vh;
    width: 100vw;
  }

  .image1,
  .image2,
  .image3{
    width: 30vw;
    height: 90%;
  }

  /* ------------- organic well-being ---------------- */

.organic-wellbeing{
  padding-bottom: 3rem;
}

.organic-wellbeing .flower{
  width: 2.5rem;
}

.organic-wellbeing h2{
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1.5rem;
}


.organic-wellbeing p{
  width: 80%;
  padding-bottom: 3rem;
  font-size: 0.8rem;
}

.organic-wellbeing ul li{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
  font-size: 0.8rem;
}

.e-oil{
  width: 40%;
  height: 40%;
  padding-bottom: 5rem;
  padding-top: 2rem;
}


  /* -------------- Massage cost section ------------------*/

  .facial-treatments-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subsectionOne{
    width: 100%;
    padding-bottom: 5rem;
  }

  .subsectionOne h2{
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .subsectionOne .item{
    padding-bottom: 3rem;
    font-size: 0.8rem;
  }

  .subsectionOne h2{
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  
  .subsectionTwo{
    width: 100%;
  }
  
  .subsectionTwo h2{
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .subsectionTwo .item{
    padding-bottom: 3rem;
    font-size: 0.8rem;
  }
  
  .massage-subsection{
    width: 75%;
  }

  .inline button{
    width: 15px;
    padding: 0; /* Reset padding in button */
    padding-top: 1.6rem;
  }

  .inline h3{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    width: 98%;
  }


.plus {
  max-width: 1rem; 
  max-height: 1rem;
  /* margin-right: 1rem; */
  margin-top: 0.8rem;
}

  .H-line {
    width: 0.8rem;
    height: 0.1rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Center horizontally */
    transform: translateX(13%); /* Center vertically*/
  }
  
  .V-line {
    width: 0.1rem;
    height: 0.8rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center vertically*/
    transform: translateY(13%); /* Center vertically*/
  }

  .massage-subsection p{
    font-size: 0.8rem;
  }
  
  .m-details{
    width: 95%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-details h4{
    font-size: 0.8rem;
  }

  .details-p{
    padding-bottom: 1.8rem;
  }

  .reservation {
    width: 65%;
    padding-bottom: 4rem;
  }
  
  .res {
    width: 100%; 
    justify-content: center;
    gap: 1.5rem;
  }
  
  .reservationLink{
    width: 5.5rem; 
    padding: 0.5rem 0.3rem;
    font-size: 0.8rem;
    gap: 0.5rem;
  }

  

}






/* phones */
@media (min-width: 451px) and (max-width: 600px) {
  .massageText{
    top: 55%;
    left: 50%;
  }

  .massage-banner{
    width: 100vw;
    height: 90vh;
    padding-bottom: 5rem;
  }


  .massageImage{
    width: 100vw;
    height: 90vh;
  }

  .massageText img{
    width: 2.5rem;
    padding-bottom: 2rem;
 }

 .massageText p{
    padding-bottom: 2rem;
    font-size: 0.9rem;
 }

 .massageText h3{
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  .massage-therapist{
    width: 8rem;
    height: 12rem;
    bottom: -5%; 
    left: 50%; 
  }

  /* --------- History Section -------------- */

  .history-section{
    padding-top: 12rem;
    width: 100%;
  }

  .historyText h2{
    font-size: 1.2rem;
    width: 90%;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .historyText .HT{
    width: 90%;
    padding:0 0.3rem;
    line-height: 3rem;
    text-align: center;
  }

  .historyText p{
    line-height: 0.9rem;
    font-size: 0.8rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .HT p{
    padding-bottom: 1rem;
  }
  
   .historyText{
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

   /* ----------- Images -------------- */

   .image-section{
    height: 40vh;
    width: 100vw;
  }

  .image1,
  .image2,
  .image3{
    width: 30vw;
    height: 90%;
  }

  /* ------------- organic well-being ---------------- */

.organic-wellbeing{
  padding-bottom: 3rem;
  padding-top: 0;
}

.organic-wellbeing .flower{
  width: 3rem;
}

.organic-wellbeing h2{
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
  
.organic-wellbeing p{
  width: 80%;
  padding-bottom: 3rem;
  font-size: 0.9rem;
}

.organic-wellbeing ul li{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
  font-size: 0.9rem;
}

.e-oil{
  width: 40%;
  height: 40%;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

/* -------------- Massage cost section ------------------*/

.facial-treatments-section{
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsectionOne{
  width: 100%;
  padding-bottom: 5rem;
}

.subsectionOne h2{
  font-size: 2rem;
  padding-bottom: 2rem;
}

.subsectionOne .item{
  padding-bottom: 3rem;
  font-size: 0.9rem;
}

.subsectionOne h2{
  font-size: 2rem;
  padding-bottom: 2rem;
}

.subsectionTwo{
  width: 100%;
}

.subsectionTwo h2{
  font-size: 2rem;
  padding-bottom: 2rem;
}

.subsectionTwo .item{
  padding-bottom: 3rem;
  font-size: 0.9rem;
}

.massage-subsection{
  width: 75%;
}

.inline button{
  width: 15px;
  padding: 0; /* Reset padding in button */
  padding-top: 1.6rem;
}

.inline h3{
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  width: 98%;
}

.plus {
  max-width: 1rem; 
  max-height: 1rem;
  /* margin-right: 1rem; */
  margin-top: 0.8rem;
}

  .H-line {
    width: 0.8rem;
    height: 0.1rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Center horizontally */
    transform: translateX(13%); /* Center vertically*/
  }
  
  .V-line {
    width: 0.1rem;
    height: 0.8rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center vertically*/
    transform: translateY(13%); /* Center vertically*/
  }

  .massage-subsection p{
    font-size: 0.9rem;
  }

  .m-details{
    width: 95%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-details h4{
    font-size: 0.9rem;
  }

  .details-p{
    padding-bottom: 1.8rem;
  }

  .reservation {
    width: 70%;
    padding-bottom: 4rem;
  }
  
  .res {
    width: 100%; 
    justify-content:center;
    gap: 1.5rem
  }
  
  .reservationLink{
    width: 9rem; 
    padding: 0.8rem 0.5rem;
    font-size: 0.9rem;
  }

  .reservationLink + .reservationLink{
    padding-left: 1rem;
  }

  }
  
  
  
  /* Tablets */
  @media (min-width: 601px) and (max-width: 768px) {
    .massageText{
      top: 50%;
      left: 50%;
    }
  
    .massage-banner{
      width: 100vw;
      height: 90vh;
      padding-bottom: 5rem;
    }
  
  
    .massageImage{
      width: 100vw;
      height: 90vh;
    }
  
    .massageText img{
      width: 2.5rem;
      padding-bottom: 2rem;
   }
  
   .massageText p{
      padding-bottom: 2rem;
      font-size: 0.9rem;
   }
  
   .massageText h3{
      font-size: 2rem;
      padding-bottom: 2rem;
      text-align: center;
    }
  
    .massage-therapist{
      width: 8.5rem;
      height: 12rem;
      bottom: -5%; 
      left: 50%; 
    }

    /* --------- History Section -------------- */

  .history-section{
    padding-top: 12rem;
    width: 100%;
  }

  .historyText h2{
    font-size: 1.5rem;
    width: 90%;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .historyText .HT{
    width: 90%;
    padding:0 0.3rem;
    line-height: 3rem;
    text-align: center;
  }

  .historyText p{
    line-height: 0.9rem;
    font-size: 0.9rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .HT p{
    padding-bottom: 1rem;
  }
  
   .historyText{
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* ----------- Images -------------- */
  .image-section{
    height: 40vh;
    width: 100vw;
    justify-content: center;
    gap: 0.1rem;
  }

  .background-image1,
  .background-image2,
  .background-image3{
    background-size: contain;
    background-position: center; /* Center the image if there is empty space */
}
  .image1,
  .image2,
  .image3{
    width: 30vw;
    height: 90%;
    overflow: hidden;
  }

  /* ------------- organic well-being ---------------- */

.organic-wellbeing{
  padding-bottom: 3rem;
  padding-top: 0;
}

.organic-wellbeing .flower{
  width: 3rem;
}

.organic-wellbeing h2{
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
  
.organic-wellbeing p{
  width: 80%;
  padding-bottom: 3rem;
  font-size: 1rem;
}

.organic-wellbeing ul li{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
  font-size: 1rem;
}

.e-oil{
  width: 30%;
  height: 30%;
  padding-bottom: 5rem;
  padding-top: 2rem;
}


/* -------------- Massage cost section ------------------*/

.facial-treatments-section{
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsectionOne{
  width: 100%;
  padding-bottom: 5rem;
}

.subsectionOne h2{
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

.subsectionOne .item{
  padding-bottom: 3rem;
  font-size: 1rem;
}

.subsectionTwo{
  width: 100%;
}

.subsectionTwo h2{
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

.subsectionTwo .item{
  padding-bottom: 3rem;
  font-size: 1rem;
}

.massage-subsection{
  width: 75%;
}

.inline button{
  width: 15px;
  padding: 0; /* Reset padding in button */
  padding-top: 1.6rem;
}

.inline h3{
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  width: 98%;
}

.plus {
  max-width: 1rem; 
  max-height: 1rem;
  /* margin-right: 1rem; */
  margin-top: 0.8rem;
}

  .H-line {
    width: 0.8rem;
    height: 0.1rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Center horizontally */
    transform: translateX(13%); /* Center vertically*/
  }
  
  .V-line {
    width: 0.1rem;
    height: 0.8rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center vertically*/
    transform: translateY(13%); /* Center vertically*/
  }

  .massage-subsection p{
    font-size: 1rem;
  }

  .m-details{
    width: 95%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-details h4{
    font-size: 1rem;
  }

  .details-p{
    padding-bottom: 1.8rem;
  }

  .reservation {
    width: 70%;
    padding-bottom: 4rem;
  }
  
  .res {
    width: 100%; 
    justify-content:center;
    gap: 2rem
  }
  
  .reservationLink{
    width: 9rem; 
    padding: 0.8rem 0.5rem;
    font-size: 0.9rem;
  }

  .reservationLink + .reservationLink{
    padding-left: 1rem;
  }
  
  }  
  
  
  
  /* Laptops and higher */
  @media (min-width: 769px) and (max-width:1160px) {
    .massageText{
      top: 50%;
      left: 50%;
    }
  
    .massage-banner{
      width: 100vw;
      height: 90vh;
      padding-bottom: 5rem;
    }
  
  
    .massageImage{
      width: 100vw;
      height: 90vh;
    }
  
    .massageText img{
      width: 3rem;
      padding-bottom: 2rem;
   }
  
   .massageText p{
      padding-bottom: 2rem;
      font-size: 1.1rem;
   }
  
   .massageText h3{
      font-size: 3.5rem;
      padding-bottom: 2rem;
      text-align: center;
    }
  
    .massage-therapist{
      width: 10rem;
      height: 15rem;
      bottom: -8%; 
      left: 50%; 
    }


    /* --------- History Section -------------- */

  .history-section{
    padding-top: 12rem;
    width: 100%;
  }

  .historyText h2{
    font-size: 2rem;
    width: 90%;
    padding: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .historyText .HT{
    width: 90%;
    padding:0 0.3rem;
    line-height: 3rem;
    text-align: center;
  }

  .historyText p{
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .HT p{
    padding-bottom: 1rem;
  }
  
   .historyText{
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

   /* ----------- Images -------------- */
   .image-section{
    height: 50vh;
    width: 100vw;
  }

  .background-image1,
  .background-image2,
  .background-image3{
    background-size: contain;
    background-position: center; /* Center the image if there is empty space */
}
  .image1,
  .image2,
  .image3{
    width: 50vw;
    height: 90%;
    overflow: hidden;
  }

   /* ------------- organic well-being ---------------- */

.organic-wellbeing{
  padding-bottom: 3rem;
  padding-top: 0;
}

.organic-wellbeing .flower{
  width: 3.5rem;
}

.organic-wellbeing h2{
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
  
.organic-wellbeing p{
  width: 80%;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.organic-wellbeing ul li{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.e-oil{
  width: 25%;
  height: 25%;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

/* -------------- Massage cost section ------------------*/

.facial-treatments-section{
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsectionOne{
  width: 100%;
  padding-bottom: 5rem;
}

.subsectionOne h2{
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

.subsectionOne .item{
  padding-bottom: 3rem;
  font-size: 1.1rem;
}

.subsectionTwo{
  width: 100%;
}

.subsectionTwo h2{
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

.subsectionTwo .item{
  padding-bottom: 3rem;
  font-size: 1.1rem;
}

.massage-subsection{
  width: 75%;
}

.inline button{
  width: 15px;
  padding: 0; /* Reset padding in button */
  padding-top: 1.6rem;
}

.inline h3{
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  width: 98%;
}

.plus {
  max-width: 1rem; 
  max-height: 1rem;
  /* margin-right: 1rem; */
  margin-top: 0.8rem;
}

  .H-line {
    width: 0.8rem;
    height: 0.1rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Center horizontally */
    transform: translateX(13%); /* Center vertically*/
  }
  
  .V-line {
    width: 0.1rem;
    height: 0.8rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center vertically*/
    transform: translateY(13%); /* Center vertically*/
  }

  .massage-subsection p{
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .m-details{
    width: 95%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .m-details h4{
    font-size: 1.1rem;
  }

  .details-p{
    padding-bottom: 1.8rem;
  }

  .reservation {
    width: 70%;
    padding-bottom: 4rem;
  }
  
  .res {
    width: 100%; 
    justify-content:center;
    gap: 2rem
  }
  
  .reservationLink{
    width: 9rem; 
    padding: 0.8rem 0.5rem;
    font-size: 0.9rem;
  }

  .reservationLink + .reservationLink{
    padding-left: 1rem;
  }

  .res {
    width: 100%; 
    justify-content:center;
    gap: 2rem
  }
  
  .reservationLink{
    width: 9rem; 
    padding: 0.8rem 0.5rem;
    font-size: 0.9rem;
  }

  .reservationLink + .reservationLink{
    padding-left: 1rem;
  }

}