

@font-face {
    font-family: 'Whyte-regular'; /* Name you want to use for the font */
    src: url('../fonts/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('../fonts/Whyte-Thin\ \(1\).ttf') format('truetype');
    
}

@font-face {
    font-family: 'Whyte-extraLightItalic'; 
    src: url('../fonts/Whyte-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Whyte-italic'; 
    src: url('../fonts/Whyte-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-light';
    src: url('../fonts/Whyte-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('../fonts/Whyte-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Bold'; 
    src:  url('../fonts/WhyteInktrap-Bold\ \(1\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Regular'; /* Name you want to use for the font */
    src:  url('../fonts/WhyteInktrap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaftan-regular'; /* Name you want to use for the font */
    src:  url('../fonts/kaftan-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* ----------------------- Main Content --------------------------- */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
  }

  .massage-banner{
    width: 100vw;
    height: 100vh;
    padding-bottom: 5rem;
    z-index: 1;
    object-fit: cover;
    overflow: hidden;
    /* box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.9); */
  }

  .massageImage{
    width: 100%;
    height: 100%;
    box-shadow:inset 0 4px 20px 2000px rgba(0, 0, 0, 0.9);
  }

  .massageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 2; /* Ensures text stays above the video */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

 .massageText img{
    width: 3.5rem;
    padding-bottom: 2rem;
 }

 .massageText p{
    font-family: "Whyte-extralight";
    color: #EAE5DF;
    font-weight: 600;
    padding-bottom: 2rem;
 }

 .massageText h3{
    font-size: 5rem;
    font-family: kaftan-regular;
    color: #EAE5DF;
    font-weight: 300;
    padding-bottom: 2rem;
  }

  .massage-therapist{
    width: 15rem;
    height: 20rem;
    position: absolute;
    bottom: -12%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; /* Ensure it appears above the video */
  }


  /* --------- History Section -------------- */

  .image-section{
    display: flex;
    justify-content: space-between;
  }

  .history-section{
    background-color: #EAE5DF;
    padding-top: 15rem;
    width: 100%;
  }

  .historyText h2{
    font-family: 'kaftan-regular';
    font-size: 3rem;
    color: #322018;
    width: 40%;
    padding-left: 6rem;
  }

  .historyText .HT{
    /*  font-family: 'Whyte-light';*/
    color: #322018;
    width: 45%;
    padding-right: 7rem;
    line-height: 10rem;
  }

 .historyText{
    display: flex;
    justify-content: center;
    justify-content:space-between;
  }

 .historyText p{
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-family: 'Whyte-thin';
  }

  .HT p{
    padding-bottom: 1rem;
  }

 .historyText{
  padding-bottom: 8rem;
  }
 

  /* ----------- Images -------------- */

  .image-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 75vh;
    width: 100vw;
    background-color: #EAE5DF;
    overflow: hidden;
  }

.image1{
  width: 30vw;
  height: 100%;
  position: relative;
}

.background-image1{
  background-image: url('../images/therapist2.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-repeat: no-repeat;
  z-index: 1;
}


.image2{
  width: 30vw;
  height: 100%;
  position: relative;
  /* padding-right: 3rem; */
}

.background-image2{
  background-image: url('../images/therapist3.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.image3{
  width: 30vw;
  height: 100%;
  position: relative;
  /* padding-right: 3rem; */
}

.background-image3{
  background-image: url('../images/therapist4.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}


/* ------------- organic well-being ---------------- */

.organic-wellbeing{
  background-color: #EAE5DF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}

.organic-wellbeing img{
  width: 100%;
  height: 100%;

}

.e-oil{
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
  padding-top: 2rem;
}

.organic-wellbeing .flower{
  width: 3.5rem;
}

.organic-wellbeing h2{
  font-family: 'kaftan-regular';
  font-size: 3rem;
  padding-bottom: 3rem;
  color: #322018;
}

.organic-wellbeing p{
  width: 60%;
  text-align: center;
  padding-bottom: 5rem;
  line-height: 1.2rem;
  color: #322018;
}

.organic-wellbeing ul li{
  display: flex;
  justify-content: center;
  line-height: 1.8rem;
}



/* -------------- Massage cost section ------------------*/

.massage-cost{
  background-color: #EAE5DF;
}

.facial-treatments-section{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.facial-treatments-section{
  display: flex;
  justify-content: space-between;
}

.subsectionOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.subsectionOne h2{
  font-family: 'kaftan-regular';
  font-size: 3rem;
  color: #322018;
  padding-bottom: 2rem;
}

.subsectionTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.subsectionTwo h2{
  font-family: 'kaftan-regular';
  font-size: 3rem;
  color: #322018;
  padding-bottom: 2rem;
}

.subsectionOne .item{
  padding-bottom: 4rem;
}

.subsectionTwo .item{
  padding-bottom: 4rem;
}

.massage-subsection{
  width: 75%;
}

.inline button{
  border: none;
  background-color: #EAE5DF;
  cursor: pointer;
  width: 15px;
  padding: 0; /* Reset padding in button */
  border: none; /* Remove border */
  background: none; /* Remove button background */
  margin: 0;
  padding-top: 1.6rem;
}

.inline{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline h3{
  padding-top: 2rem;
  margin: 0;
  font-family: 'Whyte-light';
  font-weight: 300;
  padding-bottom: 1rem;
}

/* button {
 
  display: flex;
  align-items: center; /* Aligns the line vertically in the button 
} */

/* .B-line{
  width: 2rem;
  height: 0.1rem;
  background-color: #322018;
  z-index: 2;
} */


/* .show .v-line{
  /* -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);
  transition: transform 0.3s ease; /* Smooth rotation 
} */



.plus-icon {
  padding: 0; /* Avoid excess padding */
  margin: 0; /* Avoid any unintended margin */
}

.lines{
  padding: 0; /* Avoid excess padding */
  margin: 0; /* Avoid any unintended margin */
}




/* .secondB-line{
  width: 0.1rem;
  height: 0.8rem;
  background-color: #322018;
  z-index: 1;
} */

.inline button{
  padding-bottom: 0.8rem;
}


.inline h3{
  font-family: 'Whyte-regular';
  font-size: 1.25rem;
}

.massage-subsection p{
  font-family: 'Whyte-light';
  font-size: 1.1rem;
  font-weight: 100;
}

.m-details{
  width: 95%;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: none;
}

.massage-second{
  padding-bottom: 3rem;
}

.massage-p{
  padding-bottom: 1rem;
}

.details-p{
  padding-bottom: 3rem;
}

.m-details h4{
  font-weight: 600;
}

.reservation-section{
  background-color: #EAE5DF;
}

.reservation {
  width: 25%;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.res {
  display: flex; 
  justify-content: space-between;
  width: 100%; 
}

.res button {
  width: 45%; 
  padding: 1rem 0.6rem;
  border-radius: 20px;
  background-color: #903C02;
  color: white;
  border: none;
  cursor: pointer;
}


