* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Whyte-light';
    /* background-color: #EAE5DF; */
    color: #322018;
    overscroll-behavior: none;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal overflow */
}

@font-face {
    font-family: 'Whyte-regular'; /* Name you want to use for the font */
    src: url('../fonts/Whyte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extralight'; 
    src: url('../fonts/Whyte-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-extraLightItalic'; 
    src: url('../fonts/Whyte-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Whyte-italic'; 
    src: url('../fonts/Whyte-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-light';
    src: url('../fonts/Whyte-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-thin'; 
    src: url('../fonts/Whyte-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Bold'; 
    src:  url('../fonts/WhyteInktrap-Bold\ \(1\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whyte-Inktrap-Regular'; /* Name you want to use for the font */
    src:  url('../fonts/WhyteInktrap-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaftan-regular'; /* Name you want to use for the font */
    src:  url('../fonts/kaftan-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}




/* ----------------------- Navbar --------------------------- */

nav{
    position: fixed;
    top: 0;
    width: 100vw; 
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* padding: 1rem 0; */
    background-color: rgba(179, 177, 177, 0.314); 
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #dfdfdf97; 
    backdrop-filter: blur(8px); /* Adds blur effect for a frosted look */
    z-index: 10; /* Higher than the video so it appears on top */
 }
 
 .menu{
     min-width: 3%;
     min-height: 3%;
     max-width: 5%;
     max-height: 5%;
     filter: invert(1); /* Invert(1) it will change its image from black to white */
     margin-left: 1rem;
     visibility: visible;
 }

 .navFirst{
    width: 43%;
 }

 nav ul p{
    visibility: visible;
 }

 nav ul{
    display: flex;
    align-items: center;
 }

.navFirst ul li{
    margin-right: 1.2rem;
    font-size: 1rem;
}

 #navigationLink{
    visibility: hidden;
 }

 ul p{
    padding-right: 2em;
    padding-left: 1em;
    color:#f6f6f6;
} 

.navEnd{
    display: flex;
    width: 57%;
    justify-content: space-between;
}

.navEnd h4{
    font-size: 1.5rem;
}



 .booking button{
     padding: 0.5rem 0.8rem;
     width: 100%;
     max-width: 150px;
     border-radius: 1em;
     border: none;
     background-color: rgba(235, 235, 235, 0.266);
     backdrop-filter: blur(1em); /* blurs content behind buttom */
     font-size: 0.8rem;
     cursor: pointer;
     transition: background-color 0.2s ease;
     color: white;
     width: 7.5rem;
 }

 .booking button:active{
    background-color: rgba(255, 255, 255, 0.463);
}


 
 .booking .shrink-button {
    backdrop-filter: blur(20px); 
 }
 



/* ---------- Media query ---------- */

 @media (min-width: 200px) and (max-width: 360px ) {
     
    .booking button{
        padding: 0.4rem 0.5rem;
        width: 100%;
        max-width: 100px;
        font-size: 0.6rem;
    }

    .navEnd h4{
        font-size: 1.1rem;
    }

    .navEnd{
        display: flex;
        width: 63%;
        border: 2px solid blueviolet;
        justify-content: space-between;
    }

    .navFirst{
        border: 2px solid blue;
        width: 37%;
     }

     .menu{
        min-width: 7%;
        min-height: 7%;
        max-width: 8%;
        max-height: 8%;
        visibility: visible;
    }

 }


 

 @media (min-width: 361px) and (max-width: 480px ) {
    .navEnd h4{
        font-size: 1.3rem;
    }

    .navEnd{
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    .navFirst{
        width: 40%;
     }


    .booking button{
        padding: 0.3rem 0.6rem;
        width: 100%;
        max-width: 120px;
        border-radius: 1em;
        border: none;
        background-color: rgba(235, 235, 235, 0.266);
        backdrop-filter: blur(1em); /* blurs content behind buttom */
        font-size: 0.8rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        color: white;
    }

    .menu{
        min-width: 8%;
        min-height: 8%;
        max-width: 9%;
        max-height: 9%;
        visibility: visible;
    }
    
 }
 


 @media (min-width: 800px ) {
     .menu{
        visibility: hidden;
     }

     .vLine{
        visibility: hidden;
     }

     #navigationLink{
        visibility: visible;
     }
     
    nav{
        width: 100vw; 
        padding: 0.5rem 0;
    }

    #navigationLink{
        color: white;
    }

    .navFirst{
        width: 45%;
        padding-left: 0;
        margin-left: 0;
    }

    .navFirst ul{
        display: flex;
        align-items: baseline;
        padding-left: 0;
        margin-left: 0;
    }

    .navFirst ul li{
        margin-right: 1.4rem;
        justify-content: space-between;
    }

    .nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dot{
        height: 4px;
        width: 4px;
        background-color: #fff;
        border-radius: 50%;
        visibility: hidden;
     }

     .dot--visible {
        visibility: visible;
        position: relative;
    }

    #nav-item{
        justify-content: space-between;
    }

    .d-padding{
        padding-top: 0.8rem;
    }

    .navEnd h4{
        font-family: 'Whyte-Inktrap-Bold';
        font-size: 2.24rem;
        color: #fff;
        padding-top: 1.1rem;
    }

    .navEnd{
        display: flex;
        align-items:center;

        width: 56%;
        justify-content: space-between;
        margin: 0 auto;
        /* padding-bottom: 0.8rem; */
    }

    .navEnd h4{
        padding-bottom: 0.7rem;
    }


    .booking button{
        /* padding: 0.7rem 1rem; */
        border-radius: 1em;
        border: none;
        background-color: rgba(235, 235, 235, 0.266);
        backdrop-filter: blur(1em); /* blurs content behind buttom */
        font-size: 0.8rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        color: white;
        width: 7.5rem;
    }

    .booking button:hover{
        background-color: #474747;
    }
    
   .shrink-button {
       backdrop-filter: blur(20px);
       padding: 0.6rem 0.2rem;
    }
    
     .booking{
        padding-right: 2rem;
        padding-bottom: 0.3rem;
    }
    
 }



 @media (min-width: 801px) and (max-width:1125px) {
    .navFirst ul li{
        font-size: 0.1rem;
    }
 }